<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include ("head.ejs") %>
    <title>Gegevens</title>
</head>

<body id="aanmelden">
        <form action="/aanmelden" method="post" enctype= "multipart/form-data">

            <h1>Maak een profiel aan</h1>

            <fieldset>
                <label for="userName">Gebruikersnaam:</label>
                <input name="userName" type="text" id="userName" required> <br>

                <label for='email'>E-mail:</label>
                <input id='email' type="email" name="email" required> <br>

                <label for="password">Wachtwoord:</label>
                <input id='password' type="password" name="password" pattern=".{8,}" required title="Minimaal 8 karakters" required>
                <br>

                <label from='naam'>Wat is je volledige naam:</label>
                <input name="name" type="text" required>
                <input name="id" type="hidden" required>
             <br>

            <label for='geslacht'>Ik ben een:</label>

            <div class="geslacht">
                <input type="radio" id="Man" name="gender" value="Man">
                <label for="Man">Man</label><br>

                <input type="radio" id="Vrouw" name="gender" value="Vrouw">
                <label for="Vrouw">Vrouw</label><br>

                <input type="radio" id="Anders" name="gender" value="Anders">
                <label for="Anders">Anders</label><br>
            </div>

            <br>

            <label for='datum'>Geboortedatum:</label>
            <input name="birthday" id='datum' type="date" max="16-03-2002" required>

            <br>

            <label for='geslacht'>Wat zoek je:</label>
                
                <div class="geslacht">
                    <input type="radio" id="man" name="search" value="man">
                    <label for="man">Man</label><br>

                    <input type="radio" id="vrouw" name="search" value="vrouw">
                    <label for="vrouw">Vrouw</label><br>

                    <input type="radio" id="beide" name="search" value="beide">
                    <label for="beide">Beide</label><br>
                </div>

                <br>

                <label>Voeg afbeelding toe:</label>

                <label for="file"><img id="afbeelding-toevoegen" src="static/images/afbeelding.png" alt="profiel foto"></label>
                <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
            
            </fieldset>            

            <input type="submit" class="volgende">
        </form>
</body>

</html>